<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @comment.rating_id %>
</p>

<p>
  <b>Comment text:</b>
  <%= @comment.comment_text %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
