<div data-role="page" id="events" data-title="Events">

  <%= render :partial => 'shared/header' %>

  <div data-role="content">
    <div class="content-primary">
      <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.label :fname, "First name" %>
        <%= f.text_field :fname %>
      </div>
      <div class="field">
        <%= f.label :lname, "Last name" %>
        <%= f.text_field :lname %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :encrypted_password %>
        <%= f.text_field :encrypted_password %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>
</div>