<div id="header2">
  <% home_link = !cookies[:category].blank? && !current_user.blank? ? list_subcategories_path(cookies[:category]) : root_url %>
  <%= link_to (image_tag 'logo_long.png'), home_link %>
  </div>
  
  <div data-role="header">
    <div id="back" class="sign_up">
      <%= link_to image_tag('btn_signup.png'), '/users/sign_up' if current_user == nil %>
      <%= link_to image_tag('btn_back.png'), '', :"data-rel" => "back" if controller_name == "events"  %>
    </div>
    <div id="headertext"><h1><%= !@page_title.blank? ? @page_title : 'Login' %></h1></div>
    <div id="back"></div>
    <div id="back" class="heart">
      <% if @show_heart %>
        <%= link_to "Favorites", favorite_event_path(@event), :class => "heart #{@heart_active}", :"data-transition" => "pop" %>
      <% end %>
    </div>

    <div style="clear:both;"></div>
  </div>