<h1>Listing events</h1>

<table>
  <tr>
    <th>Subcategory</th>
    <th>Name</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Location</th>
    <th>Vote interval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.subcategory_id %></td>
    <td><%= event.name %></td>
    <td><%= event.starts_at %></td>
    <td><%= event.ends_at %></td>
    <td><%= event.location %></td>
    <td><%= event.vote_interval %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
