<div data-role="page" id="rate" data-title="Rate">

  <%= render :partial => 'shared/header' %>

  <div data-role="content">
    <div class="content-primary">
      <div style="width: 262px; margin: 0 auto;">
        <%= form_for @comment do |f| %>
          <%= hidden_field :comment, :event_id, { :value => @event.id } %>
          <div class="field">
            <%= f.label :comment_text, "What's going on in class right now?" %>
            <%= f.text_area :comment_text %>
            <span id="theCounter">140</span>
          </div>
        <% end %>
        <div style="width: 190px; margin: 0 auto 20px auto;">
          <p><span class="share">Share:</span> <%= link_to "Publish on Facebook", "#", :class => "facebook_share" %>
            <%= link_to "Share on Twitter", "#", :class => "twitter_share" %>
            <br style="clear: both" />
        </div>
      <%= link_to image_tag('thumb_up.png'), vote_up_event_path(@event), :remote => true, :method => :post, :class => "thumb", :"data-rel" => "back" %>
      <%= link_to image_tag('thumb_down.png'), vote_down_event_path(@event), :remote => true, :method => :post, :class => "thumb", :"data-rel" => "back" %>
    </div>

  </div>
</div>

<%= render :partial => 'shared/footer' %>

</div>
