<!--
<span class="plusminus">(<%= @event.plusminus %>)</span> |
<%= link_to 'Vote Up', vote_up_event_path(@event), :remote => true, :method => :post %> |
<%= link_to 'Vote Down', vote_down_event_path(@event), :remote => true, :method => :post %>
</div>

<% @comments.each do |comment| %>
  <blockquote class="comment" data-id=<%= comment.id %>>
    <%= comment.comment_text.html_safe %>
    <span class="plusminus">(<%= comment.plusminus %>)</span> |
    <%= link_to 'Vote Up', vote_up_comment_path(comment), :remote => true, :method => :post %> |
    <%= link_to 'Vote Down', vote_down_comment_path(comment), :remote => true, :method => :post %>
  </blockquote>
<% end %>
<%= form_for @comment do |f| %>
  <%= hidden_field :comment, :event_id, { :value => @event.id } %>
  <div class="field">
    <%= f.label :comment_text, "Your comment" %>
    <%= f.text_area :comment_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->

<div data-role="page" id="categories" data-title="Categories">

  <%= render :partial => 'shared/header' %>

  <div data-role="content">
    <div class="content-primary">
    <div style="width: 262px; margin: 0 auto;">
      DATA VIZ HERE
      <%= link_to "RATE", rate_event_path(@event), :"data-transition" => "pop" %>
    </div>

    <ul data-role="listview" class="comment_list">
    <% @comments.each do |comment| %>
      <li class="comment ui-li-static" data-id=<%= comment.id %>>
        <p class="ui-li-aside ui-li-desc"><strong>6:24</strong>PM<br />
        <%= link_to '+', vote_up_comment_path(comment), :remote => true, :method => :post, :class => "comment_vote" %>
        <%= link_to '-', vote_down_comment_path(comment), :remote => true, :method => :post, :class => "comment_vote" %> 
        <span class="plusminus">(<%= comment.plusminus %>)</span>
        </p>
        <p class="ul-li-desc"><%= comment.comment_text.html_safe %></p>
      </li>
  <% end %>
  </ul>

  </div>
</div>


  <%= render :partial => 'shared/footer' %>
</div>
