<div data-role="page" id="event" data-title="Event">

  <%= render :partial => 'shared/header' %>

  <div data-role="content">
    <div class="content-primary">
    <div style="width: 320px; margin: 0 auto;">
      <div id="container" style="width: 100%; height: 160px"></div>
      
    </div>

    <div style="width: 122px; margin: 0 auto;">
      <p><%= link_to image_tag('submit_rate.png'), rate_event_path(@event) %></p>
    </div>

    <ul data-role="listview" class="comment_list">
    <% @comments.each do |comment| %>
      <li class="comment ui-li-static" data-id=<%= comment.id %>>
        <p class="ui-li-aside ui-li-desc">
        <%= link_to image_tag('rate_up.png'), vote_up_comment_path(comment), :remote => true, :method => :post, :class => "comment_vote" %><br /><%= link_to image_tag('rate_down.png'), vote_down_comment_path(comment), :remote => true, :method => :post, :class => "comment_vote" %> 
        </p>
        <p class="ui-li-desc">
          <em><%= comment.created_at.strftime('%m/%e/%Y') %></em><br />
          <%= comment.comment_text.html_safe %>
        </p>
      </li>
  <% end %>
  </ul>
  </div>
</div>


  <%= render :partial => 'shared/footer' %>
</div>

<%
@total = 0
@votes.each do |vote|
@data[vote.created_at.getlocal.strftime('%B %e')] = @total
if vote.vote
  @data[vote.created_at.getlocal.strftime('%B %e')] += 1
else
  @data[vote.created_at.getlocal.strftime('%B %e')] -= 1
end
@total = @data[vote.created_at.getlocal.strftime('%B %e')]
end
%>

<script type="text/javascript">
$('#event').live('pageinit', function() {
  console.log("PAGE LOADED");
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'container',
      type: 'line',
      marginBottom: 25,
      width: 320
    },
    title: {
      text: '',
      x: -9000 //center
    },
    xAxis: {
      categories: [<% @data.keys.each {|k| concat "'#{k}',"} %>]
    },
    yAxis: {
      title: {
        text: ''
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    },
    tooltip: {
      formatter: function() {
          return this.x +'<br />'+ this.y;
      }
    },
    series: [{
      name: 'Rating',
      data: [<%= @data.values.join(',') %>]
    }]
  });
  $("#container .highcharts-legend, #printButton, #exportButton").hide();
});
</script>