<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @rating.event_id %>
</p>

<p>
  <b>User:</b>
  <%= @rating.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @rating.comment_id %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
